<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The portfolio website of Stefan Schooneveld">
    <!-- CSS Style sheet link -->
    <link rel="stylesheet" href="./style/style.css">
    <!-- Font Awesome CSS link -->
    <link rel="stylesheet" href="./style/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/56436795?v=4">
    <!-- Font Awesome javascipt link -->
    <script src="./js/e9b5d64838.js" crossorigin="anonymous"></script>
    <!-- Jqeury Script sheet link -->
    <script src="./js/jquery.min.js" defer></script>
    <title>Stefan Schooneveld</title>
</head>

<body>