<%- include('./partials/head') %>




    <div class="main">
        <div class="main-container">
            <div class="main-container-inner">
                <div class="inner-container">
                    <header>
                        <div class="logo">
                            <a href=""><img src=" https://avatars.githubusercontent.com/u/56436795?v=4" alt=""></a>
                        </div>
                        <div>
                            <ul>
                                <li class="email">
                                    <a
                                        href="mailto:stefanschooneveld@hotmail.com?subject=Response from the portfolio website">
                                        <i class="fa-solid fa-envelope fa-xl"></i></a>
                                    <!-- <a href=""><img src="./img/mail-logo.png" alt=""></a> -->
                                </li>
                                <li class="github">
                                    <a href="https://github.com/Prolite2003"><i
                                            class="fa-brands fa-github fa-xl"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/in/stefan-schooneveld-b230b0264/"><i
                                            class="fa-brands fa-linkedin fa-xl"></i></a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <main class="info-field">
                        <div class="text-box">
                            <div id="welcome" class="welcome HiddenItem show">
                                <h1>Welcome</h1>
                                <span>
                                    <span>
                                        My name is Stefan Schooneveld, I’m 20 years old, and I’m a junior front-end
                                        developer.
                                    </span>
                                </span>
                            </div>
                            <div id="aboutme" class="link HiddenItem">
                                <h2>Who am i?</h2>
                                <span>
                                    <span>
                                        I’m someone who enjoys learning a variety of new things, from a new coding
                                        language to cooking a 3-course meal. <br>
                                        I have a MBO 4 diploma for software and media developers. I learned a lot about
                                        HTML, CSS, SCSS,JavaScript, GitHub, and Node. I also learned about databases and
                                        apis.
                                        I’m someone that loves to learn new things, especially with coding, and I’m
                                        always interested in how it works and how I could apply it to my new or current
                                        projects to change or improve them. Besides coding, I also like cooking from
                                        time to time, playing board and card games, playing games online with friends,
                                        and going to the gym.
                                    </span>

                                    <span class="cvbtn">
                                        <a class="cv" href="./docs/Stefan-Schooneveld-CV.pdf" target="_blank"
                                            download="Stefan-Schooneveld-CV.pdf">
                                            cv
                                        </a>

                                    </span>
                                </span>
                            </div>
                            <div id="experience" class="link HiddenItem">
                                <h2>What can i do?</h2> <span>
                                    <span>
                                   There still needs to come a good story or a way for me to show my experience.
                                   
                                   
                                    </span>
                                </span>
                            </div>
                            <!-- <div id="internships" class="link HiddenItem">
                                <h2>Internships</h2> <span>
                                    <span>
                         
                                    </span>
                                </span>
                            </div> -->
                            <div id="projects" class="link HiddenItem">
                                <h2>What kind of projects have i already done?</h2>
                                <span id="MainText" class="HiddenItem">

                                    I have started some projects that I would like to showcase; below are buttons
                                    with the different projects; you can press them to read something about them as
                                    well as visit the website itself.

                                </span>
                                <span id="CampingText" class="hide HiddenItem">
                                    This is my first ever website I made for someone else. I started this project
                                    because the grandson of my girlfriend rents her caravan from time to time, and
                                    she always wanted a website to show people what they could do, so I started
                                    working on it, and this is the finished project.

                                </span>
                                <span id="SpoilAppText" class="hide HiddenItem">
                                    This is my first ever app that I created. The app is able to store your products
                                    in a list and sort them by spoilage date. The reason I started making this is
                                    because I see a lot of people throw away food because they forget about it, and
                                    it rots and spoils. So I wanted to challenge myself to make an application that
                                    would fix this problem.

                                </span>
                                <span id="PortfolioText" class="hide HiddenItem">
                                    This is my first portfolio that I created, as is the website you are currently
                                    looking at. I started this project so that I could show more about myself. At
                                    first, I didn’t know what I should make, so I searched the Internet for
                                    different examples, and based on those, I decided that I wanted to make a small
                                    website with a lot of information and some cool little features like, Did you
                                    know that all this information is coming from a database? Why, you may ask?
                                    Well, I wanted to be able to always have my projects up to date with all my new
                                    skills and hobbies, so I decided that I would make a database that I could
                                    access from anywhere so if I needed to change any information, I could do it
                                    wherever and whenever I wanted without changing any of my code.
                                </span>
                                <span class="textbtns">
                                    <a onclick="ChangeProjectText('CampingText')" href="#">Camping</a>
                                    <a onclick="ChangeProjectText('SpoilAppText')" href="#">Spoil app</a>
                                    <a onclick="ChangeProjectText('PortfolioText')" href="#">Portfolio</a>
                                </span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="spacer"></div> -->
                        <div class="usefull-links">
                            <h2>More Information</h2>
                            <div class="links-wrapper">
                                <ul>
                                    <li><a href="#" onclick="HideShow('aboutme')" id="aboutmebutton"><span>About
                                                me</span></a></li>
                                    <li><a href="#" onclick="HideShow('experience')"
                                            id="experiencebutton"><span>Experience</span></a></li>
                                    <!-- <li><a href="#" onclick="HideShow('internships')"
                                            id="internshipsbutton"><span>Internships</span></a></li> -->
                                    <li><a href="#" onclick="HideShow('projects')"
                                            id="projectsbutton"><span>Projects</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/foot') %>