<%- include('./partials/head') %>




    <div class="main">
        <div class="main-container">
            <div class="main-container-inner">
                <div class="inner-container">
                    <header>
                        <div class="logo">
                            <a href=""><img src=" https://avatars.githubusercontent.com/u/56436795?v=4" alt=""></a>
                        </div>
                        <div>
                            <ul>
                                <li class="email">
                                    <a
                                        href="mailto:stefanschooneveld@hotmail.com?subject=Response from the portfolio website">
                                        <i class="fa-solid fa-envelope fa-xl"></i></a>
                                    <!-- <a href=""><img src="./img/mail-logo.png" alt=""></a> -->
                                </li>
                                <li class="github">
                                    <a href="https://github.com/Prolite2003"><i
                                            class="fa-brands fa-github fa-xl"></i></a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/in/stefan-schooneveld-b230b0264/"><i
                                            class="fa-brands fa-linkedin fa-xl"></i></a>
                                </li>
                            </ul>
                        </div>
                    </header>
                    <main class="info-field">
                        <div class="text-box">
                            <div id="welcome" class="welcome HiddenItem show">
                                <h1>Welcome</h1>
                                <span>
                                    <span>
                                        My name is Stefan Schooneveld, and I'm a Junior Software engineer working at
                                        Novexx Solutions, I'm 20 years old, I really like coding and exploring new
                                        hobby's or activities And I made this portfolio to show my experience.
                                    </span>
                                </span>
                            </div>
                            <div id="aboutme" class="link HiddenItem">
                                <h2>Who am i?</h2>
                                <span>
                                    <span>
                                        I like learning new things, whether it's a new programming language or how to
                                        Prepare a three-course meal. <br> I'm a Junior Software engineer at Novexx
                                        Solutions.
                                        I have a MBO 4 degree for Software and media development, There a learned a lot
                                        about coding, we mainly used HTML, CSS and JavaScript, but I also learned more
                                        About GitHub, PHP and OOP. After my MBO I started to learn how to use python and
                                        vue.js and made some different projects with it to test my skills and I still
                                        make projects for the fun, I also occasionally enjoy cooking, playing board and
                                        card games, playing
                                        Online games with friends, and going to the gym.

                                    </span>

                                    <span class="cvbtn">
                                        <a class="cv" href="./docs/Stefan-Schooneveld-CV.pdf" target="_blank"
                                            download="Stefan-Schooneveld-CV.pdf">
                                            cv
                                        </a>

                                    </span>
                                </span>
                            </div>
                            <div id="experience" class="link HiddenItem">
                                <h2>What can i do?</h2>
                                <span>
                                    <span>
                                        At Mbo Utrecht, where I started my journey, I studied GitHub and gained
                                        knowledge of HTML, CSS, and JavaScript. I fell in love with coding right away
                                        and wanted to learn everything there was to know about it, so I started learning
                                        scss/sass because I was so intrigued by it. We then started using node, apis,
                                        php, and object-oriented programming. After that, I started coming up with my
                                        own projects in an effort to challenge myself and pick up new skills. I also
                                        finished a one-year internship at ing, where I learned a lot more about apis and
                                        what it's like to work in an office.
                                    </span>
                                </span>
                            </div>
                            <div id="projects" class="link HiddenItem">
                                <h2>What kind of projects have i already done?</h2>
                                <span>
                                    <span id="MainText" class="HiddenItem">

                                        I've started a few projects that I'd like to highlight, and they are represented
                                        by the buttons below. To learn more about the various projects, click on them.
                                    </span>
                                </span>
                                <!-- <span>
                                    <span id="CampingText" class="hide HiddenItem">
                                        This is the first project I've ever started with another person. I started working on this project because the grandmother of my  girlfriend occasionally rents out her caravan, and she always wanted a website to show people what they could do. <br> It is still under construction but will be updated once it is.

                                    </span>
                                </span> -->
                                <!-- <span>
                                    <span id="SpoilAppText" class="hide HiddenItem">
                                        I want to create this app as my very first. Your products can be stored in the app. According to a list's spoilage date. For the following reason, I want to create this. Because I frequently see people throw away food they've forgotten about. It degrades and gets bad. So I made the decision to give myself a challenge and develop that application. Would fix the situation. <br> Though it's still being worked on, we'll update you when it's finished. 

                                    </span>
                                </span> -->
                                <span>
                                    <span id="PortfolioText" class="hide HiddenItem">
                                        Both the website you are visiting right now and this portfolio are products I
                                        developed for the first time. In order to demonstrate more about myself, I
                                        started this project. I initially had no idea what I should create, so I
                                        searched the Internet for various examples. Based on those, I made the decision
                                        that I wanted to create a simple website with a ton of information.
                                    </span>
                                </span>
                                <!-- <span>
                                    <span id="PersonalShopText" class="hide HiddenItem">
                                        The project is intended to sell various items I have lying around. I created
                                        this website when I had just finished my vue course to see how much I had
                                        learned. The project was created using SCSS and Vue 3. It originally included a
                                        feature that allowed you to bid on the various items, but I later decided to
                                        remove it in order to keep things simple. That's also why people still need to
                                        message or email me, that's allowing me to take my time with each step of the
                                        process.
                                        I also discovered that working with vue made it so much easier, fun and the code
                                        looks
                                        much cleaner.
                                        <br>
                                        <a href="">Link to the website</a>
                                    </span>
                                </span> -->
                                <span class="textbtns">
                                    <!-- <a onclick="ChangeProjectText('CampingText')" href="#">Camping</a>
                                    <a onclick="ChangeProjectText('SpoilAppText')" href="#">Spoil app</a> -->
                                    <a onclick="ChangeProjectText('PortfolioText')" href="#">Portfolio</a>
                                    <!-- <a onclick="ChangeProjectText('PersonalShopText')"
                                        href="https://stefanspull.netlify.app/" target="_blank">Personal e-shop</a> -->

                                </span>
                                </span>
                            </div>
                        </div>
                        <!-- <div class="spacer"></div> -->
                        <div class="usefull-links">
                            <h2>More Information</h2>
                            <div class="links-wrapper">
                                <ul>
                                    <li><a href="#" onclick="HideShow('aboutme')" id="aboutmebutton"><span>About
                                                me</span></a></li>
                                    <li><a href="#" onclick="HideShow('experience')"
                                            id="experiencebutton"><span>Experience</span></a></li>
                                    <!-- <li><a href="#" onclick="HideShow('internships')"
                                            id="internshipsbutton"><span>Internships</span></a></li> -->
                                    <li><a href="#" onclick="HideShow('projects')"
                                            id="projectsbutton"><span>Projects</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/foot') %>